@model NaderCms.Models.PostType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PostTypeId" />

            <div class="form-group">
                <label asp-for="PostTypeTitle" class="control-label"></label>
                <input asp-for="PostTypeTitle" class="form-control" />
                <span asp-validation-for="PostTypeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostTypeCode" class="control-label"></label>
                <input asp-for="PostTypeCode" class="form-control" />
                <span asp-validation-for="PostTypeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var i in ViewBag.taxonomies)
                {
                    bool isChecked = false;
                    foreach (var x in ViewBag.taxonomiesChecked)
                    {
                        if (x.TaxanomyId == i.TaxonomyId)
                        {
                            isChecked = true;
                        }
                    }

                    <label class="control-label"> @i.TaxonomyName</label>
                    if(isChecked)
                    {
                        <input type="checkbox" class="form-control" name="taxonomy" value="@i.TaxonomyId" checked />
                    }
                    else
                    {
                        <input type="checkbox" class="form-control" name="taxonomy" value="@i.TaxonomyId"  />
                    }
                       
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
